body {
  background-color: #f5e8d3;
  font-family: "American Typewriter", Courier, "Courier New", monospace;
  font-weight: 300;
}

#outer {
  width: 100%;
  text-align: center;
}

#main {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-color: #2E1826; /* R=2E G=18 B=26 */
  color: #f5e8d3;
}

img.hauptgrafik {
  width: 100%;
}

p {
 padding: 10px;
}

a {
 color: #f5e8d3;
}

.socialicons a {
  margin: 3px;
  text-decoration: none;
}
